* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: red;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  background-color: lightgrey;
  max-width: 1400px;
}

.card {
  position: relative;
  margin: 1px;
  cursor: pointer;
  width: 33%;
}

/****span****/
.discounted-price {
  /*
  color: red;
}

.price { /*
  text-decoration: line-through;
}

}
