* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

header {
  height: 40px;
  background-color: rgb(254, 105, 0);
  ;
}

.container-top {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.col {
  background-color: rgb(254, 105, 0);
}

header .container-top {
  height: 100%;
}


.row {
  display: flex;
}

header .navbar .row {
  height: 100%;
  align-items: center;
  justify-content: center;
}

p {
  color: white;
}

.Booleando img {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1400px;
}

.card {
  position: relative;
  margin: 1px;
  cursor: pointer;
  width: 33%;
}

.card img {
  width: 100%;
  padding: 5px;
}


.sustainability {
  background-color: green;
  color: white;
  position: absolute;
  bottom: 150px;
  left: 70px;
  padding: 5px 10px;
}

.sustainability-diff {
  background-color: green;
  color: white;
  position: absolute;
  bottom: 150px;
  left: 10px;
  padding: 5px 10px;
}


.card .hearts {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
}

.discount {
  position: absolute;
  bottom: 150px;
  left: 10px;
  background-color: red;
  padding: 5px 10px;
  color: white;
}

.discounted-price {

  color: red;
}

.price {
  text-decoration: line-through;
}

.brands {
  font-size: medium;
}